"*":
  core:
    disabledPackages: [
      "atom-python-run"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 17
  "exception-reporting":
    userId: "39b81e70-b748-429a-98a4-3790e63e010d"
  linter:
    lintOnChange: false
    lintOnOpen: false
  "linter-pycodestyle":
    maxLineLength: 120
  "linter-ui-default":
    showPanel: true
  "python-black": {}
  welcome:
    showOnStartup: false
